1-Parcial/Examen/ExamTwoAltamirano/src/conf/xml-resources/web-service-references/ProductoWS/wsdl/localhost_8080/ExamOneAltamirano-war/ProductoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.examone.espe.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.examone.espe.edu.ec/">

<xs:element name="existenciaProducto" type="tns:existenciaProducto"/>

<xs:element name="listarProducto" type="tns:listarProducto"/>

<xs:element name="listarProductoResponse" type="tns:listarProductoResponse"/>

<xs:complexType name="listarProducto">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarProductoResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="existencia" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="existenciaProducto">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="cantidad" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>